---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="DONDON | ABOUT" description="DONDON | ABOUT">
  <p>
    This is a log of my whole life in as much detail as I can remember. I am
    wholesale ripping this idea off of <a href="https://sive.rs/about"
      >Derek Sivers</a
    >. I suggest you check him out. He is pretty fascinating and this is far
    from the only good idea he has had.
  </p>
  <h2>1987</h2>
  <ul>
    <li>Borned</li>
  </ul>
  <h2>2005</h2>
  <h3>May</h3>
  <ul>
    <li>Graduated from Walnut Hills High School in Cincinnati, OH</li>
  </ul>
  <h3>August</h3>
  <ul>
    <li>Started College at The Ohio State University</li>
  </ul>
  <h3>October</h3>
  <ul>
    <li>Started dating Bianka</li>
  </ul>
  <h2>2006</h2>
  <ul>
    <li>Moved to Columbus (Iuka Park Commons - Northwood Ave)</li>
  </ul>
  <h2>2008</h2>
  <ul>
    <li>Bianka broke up with me</li>
  </ul>
  <h2>2009</h2>
  <ul>
    <li>Started dating Lindsey</li>
    <li>Moved in with Justin, Tony, and Christian (187 W. 8th)</li>
  </ul>
  <h2>2011</h2>
  <ul>
    <li>Graduated College</li>
    <li>Moved in with Mike, Kurt, and Will (North Street)</li>
    <li>Started job with Dad at DID after graduating (Stupid)</li>
    <li>
      Got a Nintendo 3DS with Ocarina of Time (The not stupidest thing ever)
    </li>
  </ul>
  <h2>2012</h2>
  <ul>
    <li>Skyrim!</li>
    <li>Moved in with Jules, Torrey, and Issac (4th Street)</li>
    <li>Wallace was born and, shortly there after, adopted by me</li>
  </ul>
  <h2>2013</h2>
  <ul>
    <li>Moved to Cincinnati (Zumstein?)</li>
    <li>Damien was born</li>
  </ul>
  <h2>2014</h2>
  <ul>
    <li>Moved back to Columbus (Hudson)</li>
  </ul>
  <h2>2015</h2>
  <h3>September</h3>
  <ul>
    <li>Moved to Olde Towne East (73 North 21st Street)</li>
  </ul>
  <h2>2019</h2>
  <h3>September</h3>
  <ul>
    <li>Bought my the first car I got myself (2016 Toyota Camry)</li>
  </ul>
  <h3>December</h3>
  <ul>
    <li>Started working at WillowTree</li>
  </ul>
  <h2>2020</h2>
  <ul>
    <li>Moved into my first house that I bought (559 Southwood Avenue)</li>
  </ul>
  <h2>2021</h2>
  <h3>February</h3>
  <ul>
    <li>Separated from Lindsey and Todd</li>
    <li>Lived with Judy and Toliver for the whole month</li>
  </ul>
  <h3>March</h3>
  <ul>
    <li>Moved back in to Southwood</li>
  </ul>
  <h3>September</h3>
  <ul>
    <li>Started dating Connor</li>
  </ul>
  <h2>2022</h2>
  <ul>
    <li>Got officially divorced</li>
  </ul>
  <h2>2023</h2>
  <h3>January</h3>
  <ul>
    <li>8th - Married Connor (Best decision. Whole life.)</li>
  </ul>
  <h3>April</h3>
  <ul>
    <li>Dad got hospitalized and I had to go take care of him</li>
  </ul>
  <h3>May</h3>
  <ul>
    <li>Got laid off from WillowTree</li>
  </ul>
  <h2>2024</h2>
  <ul>
    <li>Started working at the Gap</li>
    <li>Connor pregnant with our first child</li>
  </ul>
</PageLayout>
