---
import TutorialsList from "../../components/TutorialsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
import Layout from "../../layouts/PageLayout.astro";
import { getTutorials } from "../../utils/get-tutorials";

const tutorials = await getTutorials();
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Notes</h1>
  <h2><strong>UNDER CONSTRUCTION</strong></h2>
  <p>
    This section is a new conception. I am going to be adding some of my notes from my <a href="https://obsidian.md/">Obsidian Vault</a>. I'll include some content on how I ultimately achieve this. But I'm not at that step yet. :)
  </p>
</Layout>
