---
import PostsList from "../../components/PostsList.astro";
import { RANDOM_IMAGE, SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/PageLayout.astro";
import { getPosts } from "../../utils/get-posts";

const posts = await getPosts({ numberOfPosts: "all" });
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={RANDOM_IMAGE}
>
  <main>
    <section>
      <PostsList posts={posts} />
    </section>
  </main>
</Layout>
