---
import PostsList from "../../components/PostsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
import Layout from "../../layouts/PageLayout.astro";
import { getPosts } from "../../utils/get-posts";

const posts = await getPosts({ numberOfPosts: "all" });
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <PostsList posts={posts} />
    </section>
  </main>
</Layout>
