---
import PostsList from "../../components/PostsList.astro";
<<<<<<< Updated upstream
import { RANDOM_IMAGE, SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
=======
import { RANDOM_IMAGE_URL, SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
>>>>>>> Stashed changes
import Layout from "../../layouts/PageLayout.astro";
import { getPosts } from "../../utils/get-posts";

const posts = await getPosts({ numberOfPosts: "all" });
console.log('dhiii:blogPage:server')
---

<script>
  console.log('dhiii:blogPage:client')
</script>

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={RANDOM_IMAGE_URL}
>
  <main>
    <section>
      <PostsList posts={posts} />
    </section>
  </main>
</Layout>
