---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout
  title="Sketch Book"
  description="A place for code experiments"
  pubDate={new Date()}
  updatedDate={new Date()}
  heroImage="https://picsum.photos/720/360"
>
  <h2>This is just a place where I play around with web based code</h2>
  <p>
    Following is what I hope will be a complete list of the things I do. But
    probably not.
  </p>
  <ol>
    <li>
      <a href="/sketch-book/2024/07/24">2024-07-24</a>
    </li>
    <li>
      <a href="/sketch-book/2024/07/25">2024-07-25</a>
    </li>
  </ol>
</Layout>
