---
import PageLayout from "../../../layouts/PageLayout.astro";
import { getTitleFromSlug } from "../../../lib/getTitleFromSlug";
import { kebabToTitle } from "../../../lib/kebabToTitle";
import { getNotes, type Note } from "../../../utils/get-notes";

export async function getStaticPaths() {
  const notes = await getNotes();
  return notes.map((note: Note) => {
    const slugArr = note.slug.split("/");
    const paraSection = slugArr.unshift();
    const slug = slugArr.join("/");

    return {
      params: { paraSection, slug },
      props: { note },
    };
  });
}

type Props = { note: Note };

const { note } = Astro.props;
const { Content } = await note.render();
---

<PageLayout description="note" title={note.slug}>
  <h1>{kebabToTitle(getTitleFromSlug(note.slug))}</h1>
  <Content />
</PageLayout>
