---
import Layout from "../layouts/PageLayout.astro";
---

<Layout
  title="404"
  description="Error"
  heroImage="https://picsum.photos/720/360"
>
  <p>
    Uh oh... This isn't a thing. Go back <a href="/">Home</a> and try again?
  </p>
</Layout>
