---
import { RANDOM_IMAGE } from "../consts";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="About Me"
  description="DONDON GOULASH"
  heroImage={RANDOM_IMAGE}
>
  <p>I am DONDON. I like stuff about programming. This is where I put it.</p>
</PageLayout>
