---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="About Me"
  description="DONDON GOULASH"
  heroImage="https://picsum.photos/1000/500"
>
  <p>I am DONDON. I like stuff about programming. This is where I put it.</p>
</PageLayout>
