---
import { RANDOM_IMAGE } from "../consts";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout description="Where you land" heroImage={RANDOM_IMAGE} title="Home">
  <p>
    Hi, I'm DONDON. This is very much a work in progress. Just like me. Enjoy
    the stuff I have here. Or don't. That's fine too.
  </p>
</PageLayout>
