---
import Layout from "../layouts/DefaultPageLayout.astro";
---

<Layout description="Where you land" title="Home">
  <header>
    <h1>Hello, I'm Don Hamilton</h1>
    <p><em>aka Dondon</em></p>
  </header>

  <section>
    <h2>Welcome to my digital garden 🌱</h2>
    <p>
      I left social media behind a while ago. This is the place that I come to
      share my thoughts and information about things that I'm interested in and
      working on.
    </p>
  </section>

  <section>
    <h2>What I'm about</h2>
    <p>
      I'm passionate about building <s>useful</s> things with code. I also want to
      use this space to empower more people to use tech to their advantage instead
      of feeding content to big tech outlets. It is my goal to share my interests
      in tech with as many people as possible to give others the power to curate
      their own personal space online without having to support big tech institutions.
      The tools I use for this are:
    </p>
    <ul>
      <li>
        <strong>Web Development</strong>: TypeScript, HTML, CSS, JavaScript
        (including various frontend frameworks and libraries)
      </li>
      <li>
        <strong>Infrastructure</strong>: Linux, Docker, Kubernetes, ArgoCD
      </li>
      <li>
        <strong>Workflow</strong>: Vim and, increasingly, Neovim
      </li>
    </ul>
  </section>

  <section>
    <h2>What's here</h2>
    <p>
      This is a place that I put my thoughts and work. I'm working on
      understanding it more as I use it. I might include full on projects and
      stuff like that at some point. But this isn't meant to be a resume. I just
      want to use this in a similar fashion that I would use social media. But I
      kind of feel like social media is a huge gaping problem. It should be an
      open source protocol. It shouldn't be companies harvesting your data and
      selling shit to advertisers. Anyway. This is where I put stuff that I care
      about. If you care about it to, I hope you like what I have to say.
    </p>
  </section>
  <p>What I hope to cultivate:</p>
  <ul>
    <li>
      <strong>Tutorials</strong> on setting up self-hosted services, building software,
      and other tech educational content
    </li>
    <li>
      <strong>Thoughts (Seeds)</strong> on programming concepts I'm learning or random
      shit I'm interested in at the moment
    </li>
    <li>
      <strong>Food</strong> I've collected and enjoy making. Because I'm bad at being
      healthy and I'm constantly trying to be better
    </li>
    <li>
      <strong>Photographs</strong> that I took and am happy enough with to share
    </li>
    <li>
      <strong>Guides</strong> for clarifying concepts that were/are hard for me to
      understand
    </li>
    <li><strong>Thoughts</strong> on things you may or may not care about</li>
    <li><strong>Projects</strong> I'm currently breaking and fixing</li>
  </ul>

  <section>
    <h2>Let's connect</h2>
    <p>
      I believe we're all here to interact with each other and hopefully make life
      a little better by sharing interesting things with each other. Hit me up if
      you dig any of my content or want to collaborate on something or start a
      conversation!
    </p>
    <p>
      <em>Thanks for taking in an interest! Bookmark me!</em>
    </p>
  </section>
<\Layout>
