---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../constants";
import SocialNavigation from "./SocialNavigation.astro";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav class="header-nav">
    <section>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/rss.xml">RSS</HeaderLink>
    </section>
    <SocialNavigation />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }

  .header-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
</style>
