<nav>
    <ul>
        <li><a href="/food/meal-prep">meal prep home</a></li>
        <li><a href="/food/meal-prep/basics">meal prep basics</a></li>
        <li><a href="/food/tags">tags</a></li>
    </ul>
</nav>

<style>
    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
    }
</style>
