---
import type { FoodAssets } from "../types";

interface Props {
  recipes: FoodAssets;
}

const { recipes } = Astro.props;
---

<div class="blog-posts-by-date">
  <ul>
    {
      recipes.map((recipe) => (
        <li>
          <a href={`/food/${recipe.slug}`}>{recipe.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
