---
import { RANDOM_IMAGE_URL } from "../../constants";
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
  title="DONDON | NOW"
  description="DONDON | NOW"
  heroImage={RANDOM_IMAGE_URL}
>
  <br />
  <br />
  <small>
    This is a "Now" page. Read about why you're about to make one
    <a href="https://nownownow.com/about">here</a>
    .
  </small>
  <h2>NOW</h2>
  <small>last updated: 2025-04-16</small>
  <p>
    I am currently working at the Gap as a Staff Software Developer. I am
    practicing Brazilian Jiu Jitsu and Muay Thai at Ronin in Columbus, Ohio. I
    am expecting my first child with my beautiful wife this coming August. I
    have two dogs, Martha and Huxley, and three cats, Wallace, Edgar, and
    Stephen. I am really interested in self-hosting and migrating to using only
    FOSS. Lot's of Docker and Kubernetes learning for me. I'm also very recently
    getting back into photography after discovering Ubuntu Studio and it's
    incredible.
  </p>
</PageLayout>
