---
import TutorialsList from "../../components/TutorialsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
import Layout from "../../layouts/PageLayout.astro";
import { getTutorials } from "../../utils/get-tutorials";

const tutorials = await getTutorials();
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Tutorials</h1>
  <p>
    This is a list of educational materials focused on web development and
    programming for the time being. This may branch out into other interests in
    the future. For now, one of my passions is to make the web more accessible
    for everyone in an attempt to give people alternatives to big tech sponsored
    social media outlets which, I personally believe, have proven to do much
    more harm than good. So the sorts of tutorials that you will find here will
    range from beginner friendly to more advanced, enterprise level patterns.
    But the whole goal is to provide people with something that allows them to
    create their own, privately owned, self-hosted solutions (free and open
    source is a plus!) so that we can collectively stop letting big tech have
    this <a href="https://en.wikipedia.org/wiki/Panopticon">Panopticon</a> that they
    currently have.
  </p>
  <TutorialsList tutorials={tutorials} />
</Layout>
