---
import Layout from "../../layouts/DefaultPageLayout.astro";
---

<Layout title="404" description="Error">
  <p>
    Uh oh... This isn't a thing. Go back <a href="/">Home</a> and try again?
  </p>
</Layout>
